
h1{
	margin:0px;
	color:#000;
	font-size:18px;
	font-weight:bold;
	line-height:18px;
}
h3{
	margin:0px; 
	color:#000000;
	font-size:18px;
	font-weight:normal;
}
td, tr, textarea, p, div {
	font-family:Verdana;
	font-size:12px;
}
a:hover, a:active{
	/*color:#ff0000;*/
}
li{
	/* list-style-type: square; color: red; */
	/*list-style-type:none;*/ 
}
.title{
	color:#2D3367 !important;
}
.text{
	color:#5C5C5C;
	font-size:12px;
	line-height:18px;
}
/************************************************** CHANGE ANYTHING BEFORE THIS ************************************************/



/************************************************** DON'T CHANGE ANYTHING AFTER THIS ************************************************/
/* custom fonts */
@font-face {
  font-family: "Sanet";
  src: url('Sanet.eot');
  src: local("Sanet"), url('Sanet.ttf') format("truetype");
}


@font-face {
	font-family: 'BPGMrgvlovaniCaps2010';
	src: url('bpg_mrgvlovani_caps_2010.eot');
	src: local('BPG Mrgvlovani Caps 2010'), local('BPGMrgvlovaniCaps2010'), url('bpg_mrgvlovani_caps_2010.ttf') format('truetype');
}


@font-face {
	font-family: 'BalavMtavrRegular';
	src: url('BALAVMTA.eot');
	src: local('BalavMtavr Regular'), local('BalavMtavr'), url('BALAVMTA.ttf') format('truetype');
}

@font-face {
	font-family: 'AKolkhetiHRegular';
	src: url('akolkhetih.eot');
	src: local('AKolkhetiH Regular'), local('GEOKolkhetmtav'), url('akolkhetih.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Light';
	src: url('fonts/Roboto-Light.eot');
	src: local('Roboto Light'), local('Roboto Light'), url('fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Alte Haas Grotesk';
	src: url('fonts/AlteHaasGroteskRegular.eot');
	src: local('Alte Haas Grotesk'), local('Alte Haas Grotesk'), url('fonts/AlteHaasGroteskRegular.ttf') format('truetype');
}

@font-face {
      font-family: Helvetica63ExtendedMedium;
      src: url(Helvetica63-ExtendedMedium.ttf);
}

@font-face {
      font-family: Fontin;
      src: url(Fontin-Regular.ttf);
}
/* end custom fonts */


/* static default variables */
.clearfloat {
	clear:both;
	height:0px;
}
a,a:hover,a:visited,a:link,a:active{
	text-decoration:none;
	/*color:inherit;*/
}
img{
	border-width:0px;
    
}

.px18{
	font-size:18px;
}
.lh18{
	line-height:18px;
}
.px17{
	font-size:17px;
}
.lh17{
	line-height:17px;
}
.px16{
	font-size:16px;
}
.lh16{
	line-height:16px;
}
.px15{
	font-size:15px;
}
.lh15{
	line-height:15px;
}
.px14{
	font-size:14px;
}
.lh14{
	line-height:14px;
}
.px13{
	font-size:13px !important;
}
.lh13{
	line-height:13px;
}
.px12{
	font-size:12px;
}
.lh12{
	line-height:12px !important;
}
.px11{
	font-size:11px !important;
}
.lh11{
	line-height:11px;
}
.px10{
	font-size:10px;
}
.lh10{
	line-height:10px;
}
.px9{
	font-size:9px;
}
.lh9{
	line-height:9px;
}
.px8{
	font-size:8px;
}
.lh8{
	line-height:8px;
}


/* igadave raaaaaaaaaaaaaaaaaaaaa ra micevs =))))))))) 
axsna: tu lang = eng da => geo_font.css ar dainclude-deba mashin sadac sanet uceria imas verdanad gamoachens 

AXSNA 2: tu eng-ari vafshe ar eqneba fonti da orive enaze ro cavides dacer mag. arial sanet da eng-shi arial cava da qart-shi jer arial mere sanet anu sanet

*/
.sanet{
/*	font-family:Verdana;*/
}
.balavmtavr{
/*	font-family:Verdana;*/
}
.akolkhetih{
/*	font-family:Verdana;*/
}
.sylfaen{
	font-family:Sylfaen;/* aq ese iyos?????????????? */
}
.glaho{
	font-family: BPG Glaho Arial V5, Sylfaen, Arial Unicode MS;
}
.arial{
	font-family:Arial;
}
.verdana{
	font-family:Verdana;
}
.real_arial{
	font-family:Arial;
}
.real_verdana{
	font-family:Verdana;
}
.bold{
	font-weight:bold;
}
.italic{
	font-style:italic;
}
.underline{
	text-decoration:underline !important;
}
.CAPS{
	text-transform:uppercase;
}
.black{
	color:black;
}
.red{
	color:red;
}
.white{
	color:white;
}
.shown{
	visibility:visible !important;
}