body {
	background-color: #ffffff; margin:0px; padding:0px; color:#454545;
	font-family:Verdana; font-size:11px;
}

li{ list-style-position:outside; list-style-image:url(bullet.gif); color:#000;
}

.AbsWrap { width: 100%;	position: relative; }
.rowWrap { width: 100%;}

body { background:transparent url(img/zml_body_bg.png) left top repeat; 
       background:#f2f2f2; background-image:none;
}
#zml-main {
    width:1024px; margin: 0 auto; border:0px solid #f0f0f0;
    background-color:white; box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin-top:8px;
}
#zml-header { width:100%; height:49px;
    background:transparent url(img/zml_header_bg.png) left top repeat;
}
#zml-header-in {
    width:936px; padding-top:0px; height:49px; 
    padding:0px 0px 0px 36px; margin:0 auto;
    display:block; /*border-bottom:1px solid #CCCCCC;*/
}
#zml-menu { float:left; /*margin:42px 0px 0px 0px;*/ }
#zml-menu a { display:block; float:left; margin-right:12px; font-size:12px;
	    color:white; line-height:49px; font-family:Helvetica Bold, Arial; 
	    font-weight:bold; }
#zml-menu a:hover { color:#FF5F49; text-decoration:underline; }
#zml-header-title { color:white; font-family:Georgia,Nimbus Roman No9 L;
    font-size:16px; float:right; line-height:49px; }
#zml-content {
    width:936px; padding:0px 0px 0px 3px; min-height:423px;
    margin:0px 0px 0px 36px; float:left; display:inline;
    background:transparent url(img/zml_text_bg.png) right bottom no-repeat;
}
#zml-footer {
    width:936px; padding-top:10px; height:49px; margin:30px 0px 0px 36px;
    float:left; display:inline; border-top:1px solid #CCCCCC;
    text-align:center;
}

.float-left { display:block; float:left; }
.half { width:50%; }


h1,h2,h3,h4,h5,h6 { font-weight:bold; color:#2D2939; 
    font-family:Alte Haas Grotesk; }
h1 { margin-top:46px; margin-bottom:36px; }
h2 { margin-bottom:10px; font-size:24px; }
h3 { margin-bottom:10px; font-size:20px; }
h4 { clear:both; margin-bottom:10px; font-size:16px; }
h1 { color:#2D2939; font-size:30px; line-height:30px; margin:0px;
    margin:10px 0px 18px 0px;
}
h2 { margin-top:16px; margin-bottom:30px; }

label, input, select, textarea { display:block; float:left; margin-bottom:12px; }
button { display:block; clear:both; margin-bottom:12px; }
label { width:200px; line-height:24px; }
label.label-left { clear: left; }
label.label-right { clear: right; }
input[type='checkbox'] { clear:left;}
input[type='text'], select { width:160px; }

input[readonly] { color:#777; }
.simple-blue-button {
    background: -moz-linear-gradient(center top , #4AA6D6, #207DAA) repeat scroll 0 0 transparent; border-radius: 5px 5px 5px 5px; color: white; font-size: 15px;
    border:medium none; padding: 5px 25px;
    margin-top:5px; cursor:pointer; font-family:Alte Haas Grotesk, Verdana;
}


label, input, select, textarea { font-size:14px;
    font-family:Helvetica Neue, Roboto Light, Verdana, Arial;
    text-transform:capitalize;
}
label { font-weight:bold; }
input, select, textarea { color:#232323; }

.zml-home-button { display:block; margin-right:20px; float:left;
		   cursor:pointer; font-family:Roboto Light, Verdana, Arial;
}

.zml-home-button.white {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.zml-home-button.white:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.zml-home-button.white:active {
	position:relative;
	top:1px;
}

.zml-home-button.blue {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
	background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
	background-color:#bddbfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}
.zml-home-button.blue:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
	background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
	background-color:#80b5ea;
}
.zml-home-button.blue:active {
	position:relative;
	top:1px;
}
#creditors_div { clear:left; }
[id|="creditor_div"] { width:50%; float:left; }
[id|="creditor_div"] input[type="text"] { }
.worker_type_div { clear:both; margin-bottom:12px; }

#loans_table { border-collapse:collapse; width:100%; background-color:#fff; }
#loans_table, #loans_table th, #loans_table td { border-color:#aaa; }
#loans_table td select,#loans_table td input[type="text"] {
    width:90%;
}